/* REGOLE GENERALI */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
i{
  font-size: 20px;
  color: grey;
}
i:hover{
  cursor: pointer;
}
.nav-aside,.header-chat-utente,.write-message{
  background-color: rgb(248, 248, 248);
}
.img-nome img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}
input{
  border: 1px solid grey;
  border-radius: 20px;
}
input:focus{
  border: 2px solid green;
}
.ora,.last-seen,.last-msg{
  font-size: 14px;
  color: grey;
}
/* SFONDO APP */
#background-app{
  position: relative;
}
#background-app > .green{
  height: 150px;
  background-color: rgb(86, 195, 148);
}
#background-app>.white{
  height: calc(100vh - 150px);
  background-color: rgb(229, 217, 189);
}

/* CONTAINER */
#container{
  display: flex;
  position: absolute;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* left-bar */
#left-bar{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-color: white;
}

/* nav-aside */
/* my-profile */
.nav-aside .my-profile{
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 15px 0 10px;
}
.nav-aside .my-profile .img-nome{
  display: flex;
  align-items: center;
}
.nav-aside .icon-my-profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

/* notify */
.nav-aside .notify{
  display: flex;
  align-items: center;
  background-color: lightblue;
  height: 70px;
  padding: 0 10px;
}
.nav-aside .icon-notify{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;

}
.nav-aside .icon-notify i{
  color: lightblue;
}
/* input */
.nav-aside .search{
  padding: 8px;
  position: relative;
  border-bottom: 1px solid black;
}
.nav-aside .input-search{
  width: 100%;
  height: 40px;
  padding-left: 60px;
}
.nav-aside .search i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

/* profiles-chats */
.profiles-chats{
  height: 500px;
  overflow:auto;
}
.profiles-chats .chat-friends{
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.profiles-chats .active{
  background-color: rgb(202, 241, 176);
}
.profiles-chats .chat-friends:hover{
  background-color: rgb(235, 235, 235);
}
.profiles-chats .chat-friends .img-nome-chat{
  display: flex;
  margin-right: 30px;
  width: 60%;
}
.profiles-chats .img-nome-chat img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  align-self: center;
  margin-left: 20px;
}
.profiles-chats .img-nome-chat .text{
  margin: 10px 0 0 15px;
}
.profiles-chats .chat-friends .ora{
  margin: 10px 10px 0 0;
}


/* PAGE */
#page{
  width: calc(100% - 400px);
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* header-chat-utente */
#page .header-chat-utente{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  border-left: 1px solid black;
  padding: 0 15px 0 10px;
}
#page .header-chat-utente .img-nome{
  display: flex;
  align-items: center;
}
#page .icon-header-chat-utente{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/* page message */
#page .message-page{
  display: flex;
  flex-direction: column;
  background-image: url('../img/mine.jpg');
  flex-grow: 1;
  padding: 50px;
  overflow: auto;
}
#page .sent{
  display: flex;
  justify-content: flex-end;
}
#page .received{
  display: flex;
  justify-content: flex-start;
}
#page .format{
  padding: 8px;
  max-width: 40%;
  border-radius: 8px;
  margin: 10px 0;
  min-width: 15%;
}
#page .text-msg{
  display: flex;
  justify-content: space-between;
}
#page .msg-green{
  background-color: rgb(202, 241, 176);
}
#page .msg-white{
  background-color: rgb(255, 255, 255);
}
#page .orario-msg{
  font-size: 10px;
  color: rgb(120, 112, 112);
  text-align: right;
  margin: 10px 0  0 20px;
  align-items: flex-end;
}
#page .dropdown{
  display: none;
  position: relative;
}
#page .format:hover .dropdown{
  margin: 0 8px 0 15px;
  display: block;
  position: relative;
}
#page .tendina{
  background-color: rgb(231, 85, 85);
  position: absolute;
  width: 100px;
  padding: 10px;
  font-size: 15px;
  left: -40px;
}
#page .elimina{
  text-align: center;
  color: black;
}


/* input message */
#page .write-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  min-height: 70px;
}
#page .write-message i{
  font-size: 25px;
}
#page .write-message .input-messaggio{
  width: 80%;
  height: 40px;
  padding: 0 10px;
}






/* MEDIAQUERY */
@media all and (max-width:1245px){
  .profiles-chats .chat-friends .img-nome-chat{
    width: 90%;
  }
  .profiles-chats .chat-friends .last-seen{
    margin: 10px 0 0 0;
  }
}

@media all and (max-width:1070px){
  .profiles-chats .chat-friends .last-seen{
    display: none;
  }
}
