/* REGOLE GENERALI */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
i{
  font-size: 20px;
  color: grey;
}
.padding-left-bar{
  padding-left: 10px;
  padding-top: 10px;
}
/* SFONDO APP */
#background-app{
  display: flex;
  flex-direction: column;
  position: relative;
}
#background-app > .green{
  height: 150px;
  width: 100%;
  background-color: rgba(17, 91, 52, 0.8);
}
#background-app>.white{
  height: calc(100vh - 200px);
  width: 100%;
  background-color: rgba(186, 186, 186, 0.8);
}

/* CONTAINER */
#container{
  position: absolute;
  width: 70%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
#container>.page{
  flex-grow: 1;
  height: 100%;
  background-color: yellow;
}

/* left-bar */
#left-bar{
  width: 400px;
  height: 100%;
  background-color: white;
}
/* my-profile */
#left-bar .my-profile{
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 7px;
}
#left-bar .my-profile .img-nome{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#left-bar .img-nome img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}
#left-bar .icon-my-profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

/* notify */
#left-bar .notify{
  display: flex;
  align-items: center;
  background-color: lightblue;
  min-height: 70px;
  padding: 0 7px;
}
#left-bar .icon-notify{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;

}
#left-bar .icon-notify i{
  color: lightblue;
}
/* input */
#left-bar .search{
  padding: 10px 5px;
  position: relative;
}
#left-bar input{
  width: 100%;
  height: 40px;
  padding-left: 60px;
}
#left-bar .search i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

/* profiles-chats */
#left-bar .chat-friends{
  min-height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
#left-bar .chat-friends .img-nome-chat{
  display: flex;
  flex-grow: 1;
}

#left-bar .img-nome-chat img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  align-self: center;
  margin-left: 20px;
}
#left-bar .img-nome-chat .utente-chat{
  margin: 10px 0 0 15px;
}
#left-bar .chat-friends .clock{
  margin: 10px 10px 0 0;
}
