<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">

      <!-- sfondo app -->
      <div id="background-app">
        <div class="green">
        </div>
        <div class="white">

        </div>
      </div>

      <!-- container -->
      <div id="container">

        <!-- left-bar -->
        <div id="left-bar">

          <!-- nav-aside -->
          <div class="nav-aside" :class="displayNavAside">

            <!-- my profile -->
            <div class="my-profile">
              <!-- immagine profilo e nome -->
              <div class="img-nome">
                <img @click="dettagliProfilo()" :src="fotoProfilo" alt="">
                <div>{{name}}</div>
              </div>
              <!-- icone -->
              <div class="icon-my-profile">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <!-- notify -->
            <div class="notify">
              <div class="icon-notify">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="text-notify">
                <div>Ricevi notifiche di nuovi messaggi</div>
                <span>Attiva notifiche desktop</span>
              </div>
            </div>

            <!-- input search -->
            <div class="search">
              <input class="input-search" @keyup="inputSearch()" v-model="search" type="text" placeholder="Cerca o inizia una nuova chat" >
              <i class="fas fa-search"></i>
            </div>


          </div>

          <!-- modifica nome e stato del profilo -->
          <div class="modifica-profilo" :class="modificaProfilo">

            <div class="grey">
              <i class="fas fa-arrow-left" @click="dettagliProfilo()"></i>
              <h2>Profilo</h2>
            </div>

            <div class="img-modifica">
              <img :src="fotoProfilo" alt="">
            </div>

            <div class="nome-info">

              <div class="tuo-nome">Il tuo nome</div>

              <!-- modificare il nome -->
              <div class="modifica-nome" >
                <span :class="classeModificaNome" @click="modificaNome()">{{name}}</span>
                <i class="fas fa-pen" :class="classeModificaNome" @click="modificaNome()"></i>
                <input v-model="inputModificaNome" @keydown.enter="nomeModificatoInserito()" :class="classeInputModificaNome" type="text" name="" value="" >
                <i class="fas fa-check" :class="classeInputModificaNome" @click="nomeModificatoInserito()"></i>
              </div>

              <p>Questo non è il tuo nome utente o PIN. Questo nome sarà visivile ai tuoi contatti Boolzap.</p>
              <span class="info">Info</span>

              <!-- modificare lo stato -->
              <div class="modifica-stato">
                <span class="stato" :class="classeModificaStato" @click="modificaStato()">{{statoAccount}}</span>
                <i class="fas fa-pen" :class="classeModificaStato" @click="modificaStato()"></i>
                <input v-model="inputModificaStato" @keydown.enter="statoModificatoInserito()" :class="classeInputModificaStato" type="text" name="" value="">
                <i class="fas fa-check" :class="classeInputModificaStato" @click="statoModificatoInserito()"></i>
              </div>

            </div>


          </div>

          <!-- profile chat -->
          <div class="profiles-chats" :class="displayNavAside">
            <!-- contatti chat -->
            <div class="chat-friends" v-show="item.display" v-for="(item,i) in contacts" @click='chatAttiva(i)' :class="(contattoAttivo==i)?'active':'' ">
              <div class="img-nome-chat">
                <img :src="item.img" alt="">
                <div class="text">
                  <div class="utente-chat">{{item.name}}</div>
                  <div class="last-msg">
                    {{item.chat[item.chat.length-1].msg}}
                  </div>
                </div>
              </div>

              <div class="ora">{{item.chat[item.chat.length-1].data}}</div>

            </div>

          </div>


        </div>

        <!-- corpo principale -->
        <div id="page">
          <!-- sezione ultimo accesso -->
          <div class="header-chat-utente">
            <!-- img, nome e ultimo accesso o online -->
            <div class="img-nome">
              <img :src="contacts[contattoAttivo].img" alt="">
              <div class="nome-utente-lastseen">
                <div>{{contacts[contattoAttivo].name}}</div>
                <span class="last-seen":class="'active'?last():''">{{contacts[contattoAttivo].ultimoAccesso}}</span>
              </div>
            </div>

            <!-- icon sezione ultimoAccesso -->
            <div class="icon-header-chat-utente">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>

          <!-- parte dei messaggi -->
          <div class="message-page">
            <!-- aggiungo il messaggio scritto da input utente e da risposta automatica -->
            <div v-if="contacts[contattoAttivo].libero==false" v-for="(item,i) in contacts[contattoAttivo].chat"  :class="(item.stato=='inviato')?'sent':'received'">
              <div :class="(item.stato=='inviato')?'msg-green format':'msg-white format'" @mouseleave="leave()">
                <div class="text-msg">
                  {{item.msg}}
                  <!-- dropdown per eliminare il messaggio -->
                  <i class="fas fa-angle-down dropdown" @click="dropDown()">
                    <div v-show="contacts[contattoAttivo].displayTendina" class="tendina">
                      <div class="elimina" @click='removeMsg(i)'>
                        {{elimina}}
                      </div>
                    </div>
                  </i>
                </div>
                <!-- orario messaggio -->
                <div class="orario-msg">
                  {{item.data}}
                </div>
              </div>
            </div>


          </div>

          <!-- input messaggio -->
          <div class="write-message">
            <i class="far fa-smile"></i>
            <input class="input-messaggio" v-model="messaggioScritto" v-on:keydown.enter="addMsg" type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone" @click="addMsg"></i>

          </div>

        </div>

      </div>

    </div>

    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
