<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">

      <!-- sfondo app -->
      <div id="background-app">
        <div class="green">
        </div>
        <div class="white">

        </div>
      </div>

      <!-- container -->
      <div id="container">

        <!-- left-bar -->
        <div id="left-bar">

          <!-- nav-aside -->
          <div class="nav-aside">

            <!-- my profile -->
            <div class="my-profile">
              <div class="img-nome">
                <img :src="fotoProfilo" alt="">
                <div>{{name}}</div>
              </div>
              <div class="icon-my-profile">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <!-- notify -->
            <div class="notify">
              <div class="icon-notify">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="text-notify">
                <div>Ricevi notifiche di nuovi messaggi</div>
                <span>Attiva notifiche desktop</span>
              </div>
            </div>

            <!-- input search -->
            <div class="search">
              <input class="input-search" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat" >
              <i class="fas fa-search"></i>
            </div>


          </div>

          <!-- profile chat -->
          <div class="profiles-chats">

            <div class="chat-friends" v-for="(item,i) in contact" @click='chatAttiva(i)' :class="(contattoAttivo==i)?'active':'' ">
              <div class="img-nome-chat">
                <img :src="item.img" alt="">
                <div class="text">
                  <div class="utente-chat">{{item.name}}</div>
                  <div class="last-msg" v-if="contact[contattoAttivo].libero==false">
                    {{item.chat[item.chat.length-1].msg}}
                  </div>
                </div>
              </div>

              <div class="ora" v-if="contact[contattoAttivo].libero==false">{{item.chat[item.chat.length-1].data}}</div>

            </div>

          </div>

        </div>

        <!-- corpo principale -->
        <div id="page">
          <!-- header-chat-utente -->
          <div class="header-chat-utente">

            <div class="img-nome">
              <img :src="contact[contattoAttivo].img" alt="">
              <div class="nome-utente-lastseen">
                <div>{{contact[contattoAttivo].name}}</div>
                <span class="last-seen" v-if="contact[contattoAttivo].messaggioInviato==false" :class="'active'?last():''">Ultimo accesso il {{contact[contattoAttivo].ultimoAccesso}}</span>
                <span class="last-seen" v-else-if="contact[contattoAttivo].messaggioInviato==true">Online</span>
              </div>
            </div>

            <div class="icon-header-chat-utente">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>

          <!-- parte dei messaggi -->
          <div class="message-page">
            <div v-if="contact[contattoAttivo].libero==false" v-for="(item,i) in contact[contattoAttivo].chat" :class="(item.stato=='inviato')?'sent':'received'">
              <div :class="(item.stato=='inviato')?'msg-green format':'msg-white format'">
                {{item.msg}}
                <div class="orario-msg">
                  {{item.data}}
                </div>
              </div>
            </div>


          </div>

          <!-- input messaggio -->
          <div class="write-message">
            <i class="far fa-smile"></i>
            <input class="input-messaggio" v-model="messaggioScritto" v-on:keydown.enter="addMsg" type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone" @click="addMsg"></i>

          </div>

        </div>

      </div>

    </div>

    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
